Django==6.0
Pillow==12.0.0
django-cors-headers==4.9.0
django-filter==24.3
djangorestframework==3.16.1
django-jazzmin==3.0.1
razorpay==1.4.2
celery==5.3.6
redis==5.0.1
whitenoise==6.7.0
gunicorn==23.0.0
psycopg2-binary==2.9.9
dj-database-url==2.2.0
setuptools>=65.5.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
