/* GLOBAL */
body {
  margin: 0;
  font-family: "Poppins";
  color: #111;
}

.App {
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo img {
  height: 40px;
  width: auto;
  display: block;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links span {
  position: relative;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 599;
  color: #111;
  padding-bottom: 6px;
}

/* underline from center */
.nav-links span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #652810;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-links span:hover::after {
  width: 100%;
}

.nav-links span.active::after {
  width: 100%;
}

/* GENERIC PAGE */
.page {
  padding: 80px 40px;
  max-width: 900px;
  margin: auto;
}

/* PRODUCT PAGE HEADER */
.page-header {
  padding: 100px 40px;
  text-align: center;
  background: #f3efe8;
}

.page-title {
  font-size: 3rem;
}

.page-subtitle {
  margin-top: 12px;
  color: #555;
}
